* {
  outline: red 1px solid;
}

p {
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
}


h1 {
  font-family: 'Cairo', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}


li {}